# See https://atom.io/docs/latest/creating-a-package#menus for more details
'menu': [
    {
      'label': 'Packages'
      'submenu': [
        'label': 'Event Watch'
        'submenu': [
          { 'label': 'Update', 'command': 'event-watch:update' }
        ]
      ]
    }
  ]
