.event-watch {
    padding: 0px;
    margin: 0px;
    display: inline;
    text-decoration: none;
    white-space: nowrap;

    .warn { }
}

.event-watch:link { .event-watch; }
.event-watch:visited { .event-watch; }
.event-watch:active { .event-watch; }
.event-watch:hover { .event-watch; }

.event-watch.warn:link { .event-watch.warn; }
.event-watch.warn:visited { .event-watch.warn; }
.event-watch.warn:active { .event-watch.warn; }
.event-watch.warn:hover { .event-watch.warn; }
