.event-watch {
    padding: 0px;
    margin: 0px;
    display: inline;
    text-decoration: none;
    white-space: nowrap;
    overflow: none;
    color: #A07AFF;
    &:link { color: #A07AFF; }
    &:visited { color: #A07AFF; }
    &:active { color: #B395FF; }
    &:hover { color: #B395FF; }
    .warn {
        font-weight: bold;
        color: #FF0000;
        &:link { color: #FF0000; }
        &:visited { color: #FF0000; }
        &:active { color: #FF4D4D; }
        &:hover { color: #FF4D4D; }
    }
}
